<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout-padrao-adm}">
<head>
</head>

<body>
	<section layout:fragment="conteudo">
		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-8">
						<h2>Compra de Produtos</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-4">
						<a class="btn btn-primary" th:href="@{/compra}">
							<i class="fa fa-table"></i> Lista de Compra
						</a>
					</div>
				</div>

			</div>
		</div>

		<div class="container-fluid">
			<form method="POST" class="form-vertical" th:object="${compra}"
				th:action="@{/compra/}">
				
				<input type="hidden" th:field="*{id}" />
				<div class="form-group">
					<label for="descricao">Descrição</label>
					<input id="descricao" type="text" class="form-control" th:field="*{descricao}" />
					<span th:if="${#fields.hasErrors('descricao')}" th:errors="*{descricao}" class="text-danger"></span>
				</div>

				<div class="form-group">
					<label for="data_compra">Data Compra</label>
					<input id="data_compra" type="text" class="form-control datepicker" th:field="*{data_compra}" />
					<span th:if="${#fields.hasErrors('data_compra')}" th:errors="*{data_compra}" class="text-danger"></span>
				</div>

				<div class="form-group">
					<label for="usuario">Usuário</label>
					<select id="usuario" name="usuario" class="form-control">
						<option value=""> (Selecione)</option>
						<option th:each="usuario: ${usuarios}"
								th:value="${usuario.id}"
								th:text="${usuario.nome}"></option>
					</select>
				</div>

				<div class="form-group">
					<label for="fornecedor">Fornecedor</label>
					<select id="fornecedor" name="fornecedor" class="form-control">
						<option value=""> (Selecione)</option>
						<option th:each="fornecedor: ${fornecedores}"
								th:value="${fornecedor.id}"
								th:text="${fornecedor.nome}"></option>
					</select>
				</div>

				<div class="form-group">
					<button class="btn  btn-primary" type="submit">
						<i class="fa fa-save"></i>&nbsp; Salvar
					</button>
				</div>
			</form>
		</div>
	</section>
</body>
</html>
