<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>E-Bertol</title>

    <script type="text/javascript" th:src="@{/vendors/jquery/jquery.js}"></script>

    <link rel="shortcut icon" th:href="@{/images/favicon.ico}"/>

    <link rel="stylesheet" th:href="@{/css/estilo.css}"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
          crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/vendors/sweetalert/sweetalert.css}"/>
    <link rel="stylesheet" th:href="@{/vendors/bootstrap-datepicker/css/bootstrap-datepicker.min.css}"/>

    <!--     UIkit CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/css/uikit.min.css"/>
</head>

<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">E-Bertol</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item"
                    th:classappend="${#httpServletRequest.getRequestURI().startsWith('/home') ? 'active':''}">
                    <a class="nav-link" th:href="@{/home}"><i class="fa fa-home"></i>Principal</a>
                </li>

                <li sec:authorize="hasRole('ROLE_USER')" class="nav-item"
                    th:classappend="${#httpServletRequest.getRequestURI().startsWith('/produto') ? 'active':''}">
                    <a class="nav-link" th:href="@{/produto/page}"><i class="fa fa-film"></i> Produtos</a>
                </li>

                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="cadastros"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Cadastros
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" th:href="@{/usuario/page}">
                                Usuários
                            </a>
                            <a class="dropdown-item" th:href="@{/produto/page}">
                                Produtos
                            </a>
                            <a class="dropdown-item" th:href="@{/marca/page}">
                                Marcas
                            </a>
                            <a class="dropdown-item" th:href="@{/categoria/page}">
                                Categorias
                            </a>
                            <a class="dropdown-item" th:href="@{/fornecedor/page}">
                                Fornecedores
                            </a>
                            <a class="dropdown-item" th:href="@{/compra/page}">
                                Compras
                            </a>
                        </div>
                    </div>
                </li>

                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="historico"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Histórico
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Pedidos Realizados</a>
                            <a class="dropdown-item" href="#">Produtos Vendidos</a>
                        </div>
                    </div>
                </li>


                <li sec:authorize="hasRole('ROLE_USER')" class="nav-item"
                    th:classappend="${#httpServletRequest.getRequestURI().startsWith('/produto') ? 'active':''}">
                    <a class="nav-link" th:href="@{/produto/page}"><i class="fa fa-film"></i> Produtos</a>
                </li>
            </ul>

            <div class="ui-corner-right">

                <a th:href="@{/venda/checkout/}" id="btnCarrinho" class="fa fa-shopping-cart fa-2x"
                   title="Abrir Carrinho"></a>

                <sec:authorize access="!isAuthenticated()">
                    <a th:href="@{/login}" class="btn btn-outline-success"><i class="fa fa-sign-in-alt"></i> Login</a>
                </sec:authorize>

                <a th:href="@{/logout}" class="btn btn-outline-danger"><i class="fa fa-sign-out-alt"></i> Sair</a>
            </div>
        </div>
    </nav>
</header>

<section class="ut-layout-content" layout:fragment="conteudo">
    As páginas serão carregadas aqui...
</section>

<!-- FOOTER START -->
<div class="footer">
    <div class="contain">
        <div class="col">
            <h1>EMPRESA</h1>
            <ul>
                <li>Sobre</li>
                <li>Missao</li>
                <li>Serviços</li>
                <li>Social</li>
                <li>Conecte-se</li>
            </ul>
        </div>
        <div class="col">
            <h1>PRODUTOS</h1>
            <ul>
                <li>Sobre</li>
                <li>Missao</li>
                <li>Serviços</li>
                <li>Marcas</li>
                <li>Conecte-se</li>
            </ul>
        </div>
        <div class="col">
            <h1>Contas</h1>
            <ul>
                <li>Sobre</li>
                <li>Missao</li>
                <li>Serviços</li>
                <li>Informações</li>
                <li>Conecte-se</li>
            </ul>
        </div>
        <div class="col">
            <h1>Recursos</h1>
            <ul>
                <li>Webmail</li>
                <li>Cupom</li>
                <li>Mapa do Site</li>
            </ul>
        </div>
        <div class="col">
            <h1>Suporte</h1>
            <ul>
                <li>Entre em contato</li>
                <li>Chamar um atendente</li>
                <li>Abrir ticket</li>
            </ul>
        </div>
        <div class="col social">
            <h1>Social</h1>
            <ul>
                <li><img src="https://svgshare.com/i/5fq.svg" width="32" style="width: 32px;"></li>
                <li><img src="https://svgshare.com/i/5f_.svg" width="32" style="width: 32px;"></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- END OF FOOTER -->

<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{/vendors/sweetalert/sweetalert-dev.js}"></script>
<script type="text/javascript" th:src="@{/vendors/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>
<script type="text/javascript">
    $('.datepicker').datepicker({
        format: "dd/mm/yyyy",
        autoclose: true
    });
</script>
<script type="text/javascript" th:src="@{/js/crud.js}"></script>
<script type="text/javascript" th:src="@{/js/carrinho.js}"></script>
<!-- UIkit JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit-icons.min.js"></script>
</body>
</html>