<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout-padrao-adm}">
<head>
</head>
<body>
<section layout:fragment="conteudo">
    <form id="frm" method="POST" class="form-vertical" th:object="${produto}"
          th:action="@{/produto/detalhe}">
        <main class="container">
            <!-- Left Column / Headphones Image -->
            <div class="left-column">
                <img th:src="@{'/images/' + ${produto.imagem}}">
            </div>

            <!-- Right Column -->
            <div class="right-column">

                <input hidden id="produtoID" th:value="${produto.id}"></input>

                <!-- Product Description -->
                <div class="product-description">
                    <span th:text="${produto.nome}"></span>
                    <h1 th:text="${produto.nome}"></h1>
                    <p th:text="${produto.detalhes}"></p>
                </div>

                <!-- Product Configuration -->
                <div class="product-configuration">

                    <!-- Cable Configuration -->
                    <div class="cable-config">
                        <span>Selecione a quantidade: </span>

                        <div class="cable-choose">
                            <input id="quantidade" th:type="number">
                        </div>
                    </div>
                </div>

                <!-- Product Pricing -->
                <div class="product-price">
                    <input hidden id="valorProduto" th:value="${produto.valor}">

                    <td>R$: <span id="valor" th:text="${produto.valor}" th:value="${produto.valor}"></span></td>
                    <a href="#" id="btnInserir" class="cart-btn">Adicionar ao carrinho</a>
                </div>
            </div>
        </main>
    </form>
</section>
</body>
</html>